@import url('https://fonts.cdnfonts.com/css/satoshi');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Satoshi', sans-serif;                                           
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #FAF5EF;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header-sticky{
    background: #FAF5EF;
    /* background: black; */
}

.header.sticky{
    background: #FAF5EF;
}

.logo{
    position: relative;
    font-size: 2.5rem;
    color: #110804;
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    color: #897C76;
}

.navbar a:hover,
.navbar a.active {
    color: #110804;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* Home section Start */
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content{
    max-width: 90rem;
    margin-bottom: 20rem;
    /* min-width: 90rem; */
}

.home-content .min{
    color: #A89F94;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}
.home-content .title{
    color: #110804;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80px;
    word-wrap: break-word
}

.home-sup{
    padding-top: 30px;
    display: flex; 
    gap: 50px;     
    align-items: center;
}

.home-sup p {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.home-content .subtitle{
    color: #4B423E;
    max-width: 40rem;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word
}

.primary-button {
    display: block;
    background: transparent;
    cursor: pointer;
    position: relative;
    width: 257px;
    box-sizing: border-box;
    height: 55px;
    margin: 15px 0 0 -1px;
    border: 0;
    color: white;
}

.primary-button__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 11px;
    bottom: 11px;
    left: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #FE7E41;
}

.primary-button::before {
    content: "";
    position: absolute;
    border: 2px solid #110804;
    top: 7px;
    right: 0;
    bottom: 0;
    left: 7px;
}

.primary-button:active .primary-button__text {
    transform: translateX(9px) translateY(9px);
}

.button-container {
    display: flex;
    align-items: center; 
}

.union {
    margin: 20px 0 0 400px;
}

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.mediaplayer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 12em;
}

.mediaplayer iframe{
    width:718px;
    height:440px;
}

@media (max-width: 1400px){
    .mediaplayer iframe{
        width:618px;
        height:340px;
    }
}
/* Home section End */


.about{
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    min-height: auto;
    padding-bottom:5rem;
}

.about .about-row{
    display:flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.about-box hr{
    margin-top: 30px;
    /* width: 546px; */
    height: 1px;
    flex-shrink: 0;
    background: #D8D0C7;
}

.about-row .about-column{
    flex: 1 1 40rem;
}

.about-content .content {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.about-content .content h3 {
    margin-top: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.about-content .content p {
    padding-top: 20px;
    max-width: 346px;
    color: #4B423E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.about-content .content a {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #110804;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.about-content .content-r p{
    margin-top: 30px;
    color: #A89F94;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.about-content .content-r h3{
    color:  #110804;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
}

.about-content .content-r .img_box{
    margin-top: 50px;
}

.about-content .content-r .img_1st{
    vertical-align: top;
    margin-right: 10px;
    margin-top: 30px;
}

