@import url('https://fonts.cdnfonts.com/css/satoshi');

/* .bor{
    border: 1px solid red;
} */

*,
*::after,
*::before{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body{
    background: #FAF5EF!important;
    margin: 0 auto;
    font-family: 'Satoshi', sans-serif;
}

.col,.col-12,.col-6,.col-7,.col-8,.col-5,.col-sm-12,.col-md-12,.col-lg-12,.col-xl-12{
    padding: 0;
}

.container{
    max-width: 1170px;
}

/* navbar css start */
.header{
    position:fixed;
    background: #FAF5EF;
    width: 100%;
    padding-top: 1rem;
    z-index: 100;
}

.navbar{
    background-color: #FAF5EF!important;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.navbar .logo{
    position: relative;
    font-size: 28px;
    color: #110804;
    font-weight: 700;
}

.navbar-toggler{
    border: none;
}

.navbar .nav-link{
    font-size: 16px;
    font-weight: 600;
    color: #897C76;
}
/* navbar css end */

/* home section start */
.home{
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.home .min{
    color: #A89F94;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.home .title{
    color: #110804;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80px;
    word-wrap: break-word
}

.home-sup{
    padding-top: 10px;
    display: flex; 
    gap: 50px;     
    align-items: center;
}

.home-sup p{
    display: flex;
    font-size: 14px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.home .subtitle{
    color: #4B423E;
    max-width: 358px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word
}

/* button_design start */
.primary-button {
    display: block;
    background: transparent;
    cursor: pointer;
    position: relative;
    width: 257px;
    box-sizing: border-box;
    height: 55px;
    margin: 15px 0 0 -1px;
    border: 0;
    color: white;
}

.primary-button:hover{
    color:white;
}

.primary-button__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 11px;
    bottom: 11px;
    left: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #FE7E41;
}

.primary-button::before {
    content: "";
    position: absolute;
    border: 2px solid #110804;
    top: 7px;
    right: 0;
    bottom: 0;
    left: 7px;
}

.primary-button:active .primary-button__text {
    transform: translateX(9px) translateY(9px);
}

.button-container {
    display:inline-flex;
    align-items: center; 
}

.button-wrapper{
    margin-bottom: 50px;
}

.union {
    padding: 50px 0 0 70px;
}
/* button_design end */

/* video iframe start*/
.video-card{
    padding: 0;
}
.media-player iframe{
    /* width:718px; */
    width:100%;
    height:440px;
}
/* video iframe end*/

.home-sci{
    position: absolute;
    bottom: 1rem;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

/* home section end */

/* about section start */
.about{
    min-height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-box hr{
    margin-top: 30px;
    height: 1px;
    flex-shrink: 0;
    background: #D8D0C7;
}

.about-content .content {
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
}

.about-content .content h3 {
    margin-top: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.about-content .content p {
    padding-top: 20px;
    max-width: 346px;
    color: #4B423E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.about-content .content a {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #110804;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
}

.about-content .content-r{
    padding-left: 50px;
}

.about-content .content-r p{
    margin-top: 30px;
    margin-bottom: 0;
    color: #A89F94;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.about-content .content-r h3{
    color:  #110804;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
}

.about-content .content-r .img_box{
    margin-top: 50px;
}

.about-content .content-r .img_1st{
    vertical-align: top;
    margin-right: 10px;
    margin-top: 30px;
    width: 238px;
    height: 406px;
}

.about-content .content-r .img_2nd{
    width: 238px;
    height: 406px;
}
/* about section end */

/* portfolio section start */

.portfolio{
    min-height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.portfolio .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolio p{
    color: #A89F94;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
}

.portfolio h2 {
    color: #110804;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.portfolio a {
    color: #FE7E41;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 0;
}

.website_design img {
    margin-top: 20px;
}

.website_design h3,
.website_development h3,
.branding_logo h3{
    margin-top: 30px;
    color:#110804;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.website_design p{
    color: #4B423E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    max-width: 650px;
    margin-top: 10px;
}


.website_development p,
.branding_logo p{
    color: #4B423E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    max-width: 350px;
    margin-top: 10px;
}

/* portfolio section end */

/* process Section Start */
.process {
    background: #110804;
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.process .container{
    padding: 0;
}

.process .process-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.process .content {
    position: relative;
    padding: 1.5rem;
    overflow: hidden;
    width: 360px;
    margin-top: 20px;
}

.process .content h3 {
    color: #DDD3CE;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.6px;
    max-width: 238px;
}

.process .content p {
    max-width: 278px;
    color: #C5B7A7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.process .content a {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: #C5B7A7;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.process .content-p{
    margin-left: 2rem;
}

.process .content-p h3 {
    color: #FFFFFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    max-width: 276px;
}

.process .content-p p {
    padding-top: 20px;
    max-width: 123px;
    color: #C5B7A7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* toggle icon */
.content {
    transition: background-color 0.5s ease-out;
}

.text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.text.active {
    max-height: 200px; 
}

/* process Section end */

/* reviews Section Start */

.reviews{
    min-height: auto;
    padding-top:5rem;
    padding-bottom:5rem;
}

.reviews h3 {
    color: #110804;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    width: 385px;

}

.reviews p {
    color: #A89F94;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.cus-review .cl-review p{
    width: 334px;
    color: #4B423E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 5px;
}

.reviews hr{
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: #DFD8CE;
}

.reviews .map{
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.reviews .cus{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.reviews .map .img-fluid{
    height: 429px;
}

.reviews .arrows{
    padding-top: 20px;
}

/* reviews Section end */

/* contact_us start */
.contact_us {
    display: flex;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact_us .container{
    height: 337px;
}

.contact_us p {
    color: #A89F94;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.contact_us h3 {
    display: inline-flex;
    width: 574px;
    color: #110804;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.contact_us a img{
    margin-top: 50px;
}
/* contact_us end */

/* footer start */
.footer .col-5{
    padding: 0;
}
.footer h3{
    color:  #110804;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}

.footer hr{
    margin: 1px;
}

.footer a{
    color:#4B423E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-right: 10px;
}

.footer p{
    /* width:190px; */
    margin: auto;
    padding: 7px;
}
.footer .social ul {
    text-align: center;
    padding: 0;
    list-style: none;
}

.footer .social li {
    display: block;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.footer .social .social_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 191px;
    text-align: center;
    margin: 0 auto;
}

.footer .social hr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 191px;
    text-align: center;
    margin: 0 auto;
    height: 1px;
    background: #DFD8CE;
}

.footer .social .social_box a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
}

.footer .social .social_box a img {
    order: 2;
}

.footer .social .social_box a span {
    order: 1;
}

.footer-content p{
    padding: 0;
}
/* footer end */

/* responsive start */
@media (max-width: 1250px){
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }

    .footer{
        padding: 0rem 4%;
    }

    .about-content .content-r .img_1st,
    .about-content .content-r .img_2nd{
        width: 45%;
        height: auto;
    }

    .website_development img,
    .branding_logo img{
        width: 95%;
        height: auto;
    }
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .about-content .content-r .img_1st,
    .about-content .content-r .img_2nd{
        width: 45%;
        height: auto;
    }
}

@media (max-width: 1150px){
    .process .content{
        width: 95%;
    }

    .process .content a{
        right: 1rem;
    }

    .reviews .map img{
        width: 95%;
    }
}

@media (max-width: 1020px){
    .union{
        display: none;
    }
}

@media (max-width: 992px ){
    .home .home-sci{
        display: none;
    }

    .home .media-player iframe{
        height: 340px;
    }

    .home .min{
        font-size: 14px;
    }

    .home .title{
        font-size: 60px;
        font-weight: 600;
    }

    .about .content-r{
        margin: 0 auto;
        padding: 0;
    }

    .about .content-r h3{
        font-size: 35px;
        font-weight: 700;
    }

    .process .content{
        width: 290px;
    }

    .process .content a{
        top: 2rem;
        right: 2rem;
    }
}

@media (max-width: 991px ){
    .reviews .arrows{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0;
        margin-bottom: 5px;
    }

    .reviews .order-cus-1{
        order: 1!important;
    }

    .reviews .order-cus-2{
        order: 2!important;
    }

    .reviews .order-cus-3{
        order: 3!important;
    }

    .reviews .map img{
        width: 55%;
    }

    .footer .social li{
        display: inline-block;
    }
}

@media (max-width: 965px ){
    .process .content{
        width: 250px;
        padding-bottom: 2rem;
    }

    .process .content a{
        top: 6rem;
        right: 0rem;
    }
}


@media (max-width: 960px ){
    .about .content-r h3{
        font-size: 40px;
        font-weight: 700;
    }
}

@media (max-width: 880px ){
    .process .content{
        width: 240px;
    }

    .process .content a{
        top: 6rem;
        right: 0rem;
    }
}

@media (max-width: 852px ){
    .process .content{
        display: inline-block;
        width: 100%;
    }

    .process .content a{
        top: 2rem;
        right: 1rem;
    }

    .process .content-p{
        margin: 0;
    }

    .process .content-p h3,
    .process .content-p p{
        max-width: 100%;
    }

    .process .order-cus-1 {
        order: 1 !important;
    }

    .process .order-cus-2 {
        order: 2 !important;
    }

    .process .order-cus-3 {
        order: 3 !important;
    }

    .cus-review .cl-review p{
        width: auto;
    }

    .reviews .cus{
        width: 100%;
    }
}

@media (max-width: 765px ){
    .about .order-cus-1{
        order: 1;
    }

    .about .order-cus-2{
        order: 2;
    }
}

@media (max-width: 618px ){
    .contact_us h3 {
        display: inline-flex;
        width: 374px;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: -0.8px;
    }
}
/* responsive end */